@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Fasthand&family=Gemunu+Libre:wght@300;600&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
html{
    font-size: 18px;
}
:root{
    /* Paleta de colores HEX */
    /*https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
    --midnight-blue: #03045eff;
    --dark-cornflower-blue: #023e8aff;
    --star-command-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --pacific-blue: #00b4d8ff;
    --sky-blue-crayola: #48cae4ff;
    --middle-blue: #90e0efff;
    --blizzard-blue: #ade8f4ff;
    --light-cyan: #caf0f8ff;

    /* CSS HEX */
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: Poppins, cursive;
    text-decoration: none;
    opacity: 200%;
}


body{
    width: cover;
    background:linear-gradient(360deg, var(--black)20%, var(--star-command-blue)); 
    background-position:center; 
    background-attachment: fixed;
    
}

.header{
    min-width: 250px;
    height:fit-content ;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    background-color: rgba(3,4,94);
    animation: header 1s ease 0s 1 normal forwards;
}

.header a{ 
    letter-spacing: 1.5px;
}

@keyframes header {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
} 

.header__section{
    min-width: 250px;
    color: var(--platinum);
    text-shadow: 3px 3px 10px var(--platinum);
    transition: 1s;
    display: flex;
    text-align: center;
    margin: auto;
    
}   

.header__section nav{
    min-width: 250px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header__section a{
    min-width: 250px;
    padding:10px 25px;
    color:var(--platinum);
}

.main{
    min-width: 270px;
    display: flex;
    flex-wrap: wrap;
}

.main__section{
    width:30vw;
    height: 50vh;
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    animation: ingresar 2s ease 0s 1 normal forwards;
}

@keyframes ingresar {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.main__section__article{
    min-width: 250px;
    width: 20vw;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5em;
    background-color: var(--oxford-blue);
    box-shadow: 5px 5px 30px var(--oxford-blue);
    border-radius: 20px;
    transition: 1s;
}

.main__section__article img {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
}


.main__section__article h2{
    width: fit-content;
    height: fit-content;
    font-size: 35px;
    color: var(--platinum);
    text-shadow: 3px 3px 10px var(--orange-web); 
} 

.main__section__article button{
    min-width: 250px;
    width: auto;
    height: 2em;
    font-size: 18px;
    border: var(--platinum);
    border-radius: 20px;
    box-shadow: 2px 2px 10px var(--orange-web);
    background-color: var(--orange-web);
    cursor:pointer;
    transition: 500ms;
}

.main__section__article a{
    color: var(--platinum);
}

.main__section__article button:hover{
    background-color: rgb(255, 123, 0);
    box-shadow: 10px 10px 10px rgb(255, 123, 0);
}

footer{
    min-width: 250px;
    height: fit-content;
    font-size: 15px;
    background-color: rgba(2, 60,136);
    margin:auto;
    display: flex;
    color: var(--platinum);
    text-align: center; 
    justify-content: center;
}

